body {
	background-color: #262523;
	color: #B0AEAC;
	font-family: "Texta Light";
}

aside {
	display: none;
}

main {
	backdrop-filter: blur(2px);
	height: 720px;
  padding: 64px 166px;
	width: 1280px;
}

header {
	margin: 12px 0px 32px;
}

h1 {
	font-size: 42px;
	font-weight: 100;
  line-height: 48px;
	margin: 0px 24px;
}

section {
	backdrop-filter: blur(2px);
	width: 947px;
}

section header {
  overflow: hidden;
  width: calc(636px - 1.5rem);
}

section > div {
	overflow: hidden;
	padding: 0 0 0 24px;
	width: 636px;
}

section > div > div {
	font-size: 24px;
	min-height: 16px;
	letter-spacing: .06px;
	line-height: 32px;
	width: auto;
}

section > div > div:focus {
  outline: 0px solid transparent;
}

fieldset {
  border: 1px dashed;
}

fieldset legend {
  padding: 0 .5rem;
}

fieldset .input_1-4 {
  width: calc(25% - .25rem);
}

fieldset .input_3-4 {
  width: calc(75% - .25rem);
}

fieldset .input_1-3 {
  width: calc(33% - .25rem);
}

fieldset .input_2-3 {
  width: calc(66% - .25rem);
}

fieldset .input_1-2 {
  width: calc(50% - .25rem);
}

fieldset.footer {
  border-color: transparent;
  margin: 1rem calc(-1rem - 1px);
}

fieldset fieldset {
  border-color: transparent;
  margin: 0 0 1rem;
  padding: 4px;
  text-align: right;
}

fieldset button:first-of-type {
  margin-right: 1rem;
}

/* Bootstrapped */
.alert {
  margin: 1rem 1.5rem;
  padding: 0 0 0 24px;
}

.alert-verydark {
  background-color: #505457;
  color: #B0AEAC;
}

.form-control {
  display: inline-block;
}

.form-control-dark {
  background-color: #505457;
  border-color: #505457;
  color: #f0f0f0;
}
