body {
	height: 100vh;
	position: relative;
}

body > footer {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100vw;
}

header h1 {
	font-family: monospace;
	text-align: center;
}

section {
	margin: .5rem auto 2rem;
	width: 20rem
}